[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
future = "*"
requests = "*"
paramiko = "*"
pycryptodome = "*"
pysnmp = "*"
mkdocs-bootstrap = "*"
beautifulsoup4 = "*"
filemagic = "*"
passlib = "*"
hexdump = "*"
cx-oracle = "*"
psycopg2 = "*"
pymongo = "*"
wget = "*"
python-nmap = "*"
gitpython = "*"
nclib = "*"
pyelftools = "*"
capstone = "*"
ropgadget = "*"
pyserial = "*"
tox = "*"
rarfile = "*"
pygments = "*"
python-dateutil = "*"
psutil = "*"
intervaltree = "*"
unicorn = "*"
ajpy = "*"
pycrypto = "*"
dnspython = "*"
ipy = "*"
pyasn1 = "*"
pysmb = "*"
mkdocs = "*"
PyMySQL = "*"
Mako = "*"
PySocks = "*"
pyOpenSSL = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
